@*@model IEnumerable<Gymbokning.Models.GymClass>*@
@model IEnumerable<GymClassesViewModel>
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1 class="my-5 display-4">Welcome to the gym!</h1>
<hr />

<h2 class = "my-5">Gym Classes</h2>

@{
    if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create">Create Gym Class</a>
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>

                @{
                    if (User.IsInRole("Admin"))
                    {
                        <td>
                           <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                           <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span>
                           <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                           <a class = "mx-5 btn @(item.Attending ? "btn-danger" : "btn-success")" asp-action="BookingToggle" asp-route-id="@item.Id">
                           @(item.Attending ? "Unbook" : "Book")
                           </a>                      
                        </td>
                    }

                    else if (User.Identity.IsAuthenticated)
                    {
                        <td>
                           <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                           <a class = "mx-5 btn @(item.Attending ? "btn-danger" : "btn-success")" asp-action="BookingToggle" asp-route-id="@item.Id">
                           @(item.Attending ? "Unbook" : "Book")
                           </a>        
                        </td>
                    }
              }
        </tr>
}
    </tbody>
</table>
